body {
  background: linear-gradient(#637d9e, #f7d8d7);
}

h1 {
  font-size: 113px;
  font-family: "Black Han Sans", sans-serif;
}

h2 {
  margin-top: 83px;
  font-family: "Kufam", sans-serif;
  font-size: 53px;
}

h3 {
  margin-right: 8px;
  font-size: 43px;
  font-family: "Black Han Sans", sans-serif;
  color: #f7d8d7;
}

button {
  margin-left: 10px;
}

nav {
  font-family: "Kufam", sans-serif;
  font-weight: bold;
  display: inline;
  margin-top: 103px;
  margin-right: 15px;
  line-height: 93px;
  font-size: 16px;
  color: #f7d8d7;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 23px;
  font-family: "Glegoo", serif;
  color: blue;
}

a:hover {
  color: red;
  font-weight: bold;
}

video {
  border-radius: 5px;
  margin-top: 33px;
}

ul {
  padding: 10px;
  margin-bottom: 40px;
}

li {
  display: inline;
  padding: 10px;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.iframe-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.linktree-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 23px;
}

.linktree-link-spacing {
  margin-top: 55px;
  margin-bottom: 95px;
}

.video-link {
  margin-top: 13px;
  text-align: center;
}

.icon-social-twitter {
  font-size: 100px;
}

.icon-social-instagram {
  font-size: 90px;
}

.icon-social-facebook {
  font-size: 103px;
}

.nav-section {
  margin-top: 83px;
  margin-bottom: 23px;
}

.logo {
  max-width: 130px;
  border-radius: 80px;
}

.about-paragraph {
  font-family: "Kufam", sans-serif;
  font-size: 28px;
  margin-left: 20px;
  color: #f7d8d7;
}

.contact {
  text-align: center;
  margin-top: 34px;
}

.contact-paragraph {
  font-family: "Kufam", sans-serif;
  font-size: 33px;
  margin-bottom: 53px;
  margin-left: 20px;
  margin-top: 53px;
}

.footer-paragraph {
  font-family: "Kufam", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 80px;
}

.r3llie {
  font-size: 48px;
}

.hashtag {
  font-family: "Black Han Sans", sans-serif;
  font-size: 38px;
  margin-bottom: 23px;
}

.col-lg-4 {
  margin-left: 100px;
  margin-top: 20px;
}

.col-lg-6 {
  margin-top: 13px;
}

.interview-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 23px;
}

.interview-link-spacing {
  margin-bottom: 80px;
}

.single-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 23px;
  margin-left: 138px;
  margin-top: 50px;
  text-align: center;
}

.playlist-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 23px;
  margin-top: 50px;
  text-align: center;
}

.podcast-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 23px;
  margin-top: 50px;
  margin-left: 138px;
  text-align: center;
}

.media-link-spacing {
  margin-top: 10px;
}

.media-link:hover {
  color: red;
}

.media-section {
  margin-top: 23px;
}

.songkick {
  margin-top: 53px;
}

@media (max-width: 1200px) {
  h1 {
    margin-bottom: 13px;
    font-size: 63px;
    text-align: center;
  }
  h3 {
    font-size: 33px;
    margin-right: 3px;
  }
  h2 {
    margin-top: 0px;
  }
  nav {
    font-size: 13px;
    display: inline;
    margin-top: 73px;
    margin-right: 0px;
    line-height: 80px;
  }
  li {
    padding: 3px;
  }
  video {
    margin-top: 0px;
  }
  .linktree-link-spacing {
    margin-top: 15px;
    margin-bottom: 83px;
  }
  .icon-social-twitter {
    font-size: 63px;
  }
  .icon-social-instagram {
    font-size: 58px;
  }
  .icon-social-facebook {
    font-size: 68px;
  }
  .nav-section {
    margin-top: 40px;
    margin-bottom: 23px;
  }
  .col-lg-4 {
    text-align: center;
    margin-top: 43px;
    margin-left: 10px;
    padding: 0px;
  }
  .single-link {
    margin-left: 0px;
    padding: 10px 50px;
  }
  .podcast-link {
    margin-left: 0px;
  }
  .media-section {
    margin-top: 10px;
  }
  .media-link-spacing {
    margin-top: 0px;
    margin-bottom: 33px;
  }
  .more-link {
    font-size: 11px;
  }
  .hashtag {
    font-size: 30px;
    margin-left: 0px;
  }
  .logo {
    max-width: 83px;
  }
  .about-paragraph {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0px;
  }
  .contact {
    text-align: center;
    margin-top: 0px;
  }
  
  .contact-paragraph {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .songkick {
    margin-top: 13px;
    margin-bottom: 53px;
  }
}

