h1 {
  color: blue;
  font-size: 133px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 48px;
}


button {
  margin-left: 10px;
}

nav li {
  display: inline;
  margin-right: 15px;
  line-height: 98px;
  font-size: 16px;
}
a {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}
video {
  border-radius: 5px;
}

li {
  display: inline;
  padding: 10px;
}

.r3llie {
  font-size: 48px;
}

.hashtag {
  font-size: 33px;
  margin-bottom: 15px;
  margin-left: 130px;
}

.col-lg-5 {
  margin-top: 20px;
  margin-left: 100px;
  padding: 10px;
}
.media-link-spacing {
  margin-bottom: 60px;
}
.media-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 16px;
  margin-left: 180px;
  margin-top: 50px;
  text-align: center;
}

.media-section {
  margin-top: 13px;
}

.interview-link {
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 16px;
}

.bottom-row {
  margin-top: 30px;
}

.nav-section {
  margin-top: 48px;
  margin-bottom: 24px;

}

.logo {
  max-width: 100px;
  border-radius: 80px;
}

.about-paragraph {
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 20px;
}

@media (max-width: 900px) {
h1 {
  font-size: 84px;
  text-align: center;
}

  nav li {
    font-size: 11px;
    display: inline;
  margin-right: 0px;
 
  }

  li {
    padding: 3px;
  }

  .col-lg-5 {
    text-align: center;
    margin-top: 18px;
    margin-left: 0px;
    padding: 0px;
  }

  .media-link {
    font-size: 16px;
    margin-left: 0px;
    padding: 10px 50px;
  }
  .media-link-spacing {
    margin-bottom: 30px;
  }
  .more-link {
    font-size: 11px;
  }
  .hashtag {
    font-size: 11px;
    margin-left: 0px;
  }

  .about-paragraph {
    margin-bottom: 50px;
    text-align: center;
    margin-left: 0px;
  }
.contact {
  text-align: center;
}

}
